.to-do-list-container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.to-do-list-container .column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do-list-container .column .item {
    margin: 8px;
}